.app {
  height: 100%;
  width: 100%;
  font-size: 1rem;
  z-index: 0;
  position: fixed;

  /* padding-bottom: 1vw; */

  justify-content: center;

  background-color: var(--backgroundColor);

  --backgroundColor: #476299;
  --accentColor: #bdcfe1;
  --accentTwoColor: #d3e8fd8a;
  --contentColor: #fff9f2;
  --bootstrapGray: rgba(0,0,0,.03);
}

.page-navbar {
  width: 100%;
  background-color: var(--accentColor);
  z-index: 99;
}

.scroll-me {
  overflow-y: auto;
  margin-top: 72px;
  padding: 1vw;
  height: calc(100% - 72px);
}

.indent-p p {
  margin-left: .5vw;
}

@media (min-width: 576px) { 
  .separating-line {
    border-right: 1px solid #dee2e6 !important;
  }
}

@media(max-width: 575px) {
  .separating-line {
    border-bottom: 1px solid #dee2e6 !important;
  }

  .header-stats {
    padding-left: 10px;
  }
}