.app {
  height: 100%;
  font-size: 1rem;
  z-index: 0;

  justify-content: center;

  background-color: var(--backgroundColor);

  --backgroundColor: #476299;
  --accentColor: #bdcfe1;
  --contentColor: #fff9f2;
}

.navbar {
  background-color: var(--accentColor);
}