.app {
  height: 100%;
  width: 100%;
  font-size: 1rem;
  z-index: 0;
  position: fixed;
  overflow-y: scroll;

  /* padding-bottom: 1vw; */

  justify-content: center;

  background-color: var(--backgroundColor);

  --backgroundColor: #476299;
  --accentColor: #bdcfe1;
  --contentColor: #fff9f2;
}

.navbar {
  width: 100%;
  background-color: var(--accentColor);
  position: sticky;
}
