.profile-img {
  min-width: 90px;
  min-height: 90px;
  width: 8vw;
  height: 8vw;
}

.accent-two-background {
  background-color: var(--accentTwoColor) !important;
}

.mt-username {
  margin-top: .5rem;
}

.header-stats {
  height: calc(100% - 1.75rem) !important;
  display: flex;
}

.repo-body h6 {
  font-size: .8rem;
}